<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="br.com.cast.turmaformacao.estoquedeprodutos"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".InventoryManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controllers.activities.InventoryListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.activities.NewProductActivity"
            android:label="@string/lbl_new_product">
        </activity>
    </application>

</manifest>
